/* Google Fonts */
@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tagesschrift';
    src: url('/static/fonts/Tagesschrift-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Variables */
:root {
    --page-color: #fffb14;
    --btn-txt-color: #1177fc;
    --board-color: #ff00ea;
    --mark-color: #9a00ff;
    --winning-mark-color: #00ff93;
}


/* Simple CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Custom sytles */
body {
    background-image: url("../images/background-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--page-color);
    position: relative;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    overflow: visible;
}

.board-area {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.board-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr); /* 3 equal rows */
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    width: 100%; /* Set the width of the grid */
    height: 80%;
    aspect-ratio: 1 / 1;
}

.buttons-container-after {
    display: flex;
    justify-content: space-evenly;
}

.reset-btn,
.restart-btn {
    font-size: 24px;
    height: 80px;
    color: #4f2666;
}

.reset-btn {
    background-color: orange;
}

.restart-btn {
    background-color: red;
}

.board-item {
    aspect-ratio: 1 / 1; /* Ensures each grid item is square */
    box-sizing: bord-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevents content from overflowing */
    border-color: #fff;
}

.players-form {
    height: 400px;
    font-size: 48px;
    font-family: 'Tagesschrift', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.player-input-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

input[type="text"] {
    border: none;
    width: 250px;
    height: 50px;
    font-size: 35px;
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
    padding: 10px;
    background-color: #ffffff83;
}

.player-data-container {
    font-size: 28px;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.player-mark-display {
    font-size: 70px;
    color: rgb(90, 212, 41);
}

button {
    width: 160px;
    height: 60px;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--btn-txt-color);
    border: none;
    border-radius: 10px;
}

.start-btn {
    background: #00ffc8;
}

svg.board-icon {
    width: 80%;
    height: 80%;
}

.board-item:nth-child(2) svg.board-icon,
.board-item:nth-child(4) svg.board-icon,
.board-item:nth-child(5) svg.board-icon,
.board-item:nth-child(6) svg.board-icon,
.board-item:nth-child(8) svg.board-icon {
    width: 90%;
    height: 90%;
}

.board-item:nth-child(1) {
    border-right: 15px solid var(--board-color);
    border-bottom: 15px solid var(--board-color);
}

.board-item:nth-child(2) {
    border-left: 15px solid var(--board-color);
    border-bottom: 15px solid var(--board-color);
    border-right: 15px solid var(--board-color);
}

.board-item:nth-child(3) {
    border-left: 15px solid var(--board-color);
    border-bottom: 15px solid var(--board-color);
}

.board-item:nth-child(4) {
    border-right: 15px solid var(--board-color);
    border-top: 15px solid var(--board-color);
    border-bottom: 15px solid var(--board-color);
}

.board-item:nth-child(5) {
    border-top: 15px solid var(--board-color);
    border-right: 15px solid var(--board-color);
    border-bottom: 15px solid var(--board-color);
    border-left: 15px solid var(--board-color);
}

.board-item:nth-child(6) {
    border-left: 15px solid var(--board-color);
    border-top: 15px solid var(--board-color);
    border-bottom: 15px solid var(--board-color);
}

.board-item:nth-child(7) {
    border-right: 15px solid var(--board-color);
    border-top: 15px solid var(--board-color);
}

.board-item:nth-child(8) {
    border-left: 15px solid var(--board-color);
    border-top: 15px solid var(--board-color);
    border-right: 15px solid var(--board-color);
}

.board-item:nth-child(9) {
    border-left: 15px solid var(--board-color);
    border-top: 15px solid var(--board-color);
}

svg.board-icon {
    fill: transparent;
    stroke: var(--mark-color);
    stroke-linecap: round;
    stroke-width: 20;
}

svg.board-icon.winning-mark {
    stroke: var(--winning-mark-color);

    animation-name: resize-animation;
    animation-duration: 500ms;
    animation-iteration-count: 2;

}

.hidden {
    display: none;
}

@keyframes resize-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

